@import url('./view/layout.css');
@import url('./view/tool-bar.css');
@import url('./view/about-modal.css');
@import url('./view/backgroud-setting-modal.css');

@import url('./element/markdown-element.css');
@import url('./settings/settings.css');
@import url('./settings/font-modal.css');

:root {
    /* 代码块样式变量 */
    --code-normal: #333333;
}

